@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,800;1,700&display=swap');
:root{
  --white: #f7f7f7;
  --primaryp: #bb86fc;
  --primary_variant: #3700B3;
  --secondary: #03dac6;
  --error: #CF6679;
  --bg: #121212;
  --black: #000000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  background-color: var(--bg) !important;
  color: var(--light-grey) !important;
}

div#App{
  overflow-x: hidden;
}

/* navbar */
nav.navbar span.navbar-brand{
  color: var(--white);
}
nav.navbar button.navbar-toggler{
  outline:none;
  border:none;
}
nav.navbar button.navbar-toggler:focus{
  outline:none;
  border:none;
}
button.navbar-toggler span.navbar-toggler-icon{
  color: var(--white);
}
nav.navbar div.navbar-nav .nav-link{
  color: var(--white);
}
footer{
  background-color: var(--primaryp);
  margin-bottom: -1rem;
}
footer p{
  color: var(--black);
  padding: 1rem;
}
/* media queries */
/* 425px */
@media screen and (max-width: 425px){
  div.stock-bar div.stock-td:first-child{
    margin-left: 28rem !important;
  }
  table.stock-table td:nth-child(1),
  table.stock-table td:nth-child(6),
  table.stock-table td:nth-child(7),
  table.stock-table tr th:nth-child(1),
  table.stock-table tr th:nth-child(6),
  table.stock-table tr th:nth-child(7){
    display:none;
    background: white;
  }
  div.my-3.mx-0.courses{
    margin-right: 0 !important;
    width: 90%;
  }
  div.pr-0.pl-3.col-md-4{
    margin-left: 1rem;
    width: 100%;
  }
  div.pr-0.pl-3.col-md-4 h5,
  .for-courses .p-btn{
    text-align: center;
  }
}
/* 414px */
@media screen and (max-width: 414px){
  div.container{
    padding: 0 !important;
  }
}